{
  "extends": [
    "oclif",
    "oclif-typescript",
    "plugin:require-extensions/recommended"
  ],
  "plugins": [
      "require-extensions"
  ],
  "rules": {
    "node/no-missing-import": "off"
  }
}
